.Menu {
	position: absolute;
	display: flex;
	justify-content: right;

	ul {
		position: absolute;
		right: -7em;
		list-style-type: none;
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;
		width: 7em;
		animation-name: menu-unhover;
		animation-duration: 666ms;

		li {
			display: flex;
			justify-content: right;
			a {
				position: relative;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				padding: 1.5em 2em;
				font-weight: bold;
				&:hover {
					span:after {
						content: '';
						border-bottom: 2px solid navy;
						display: block;
						width: 100%;
					}
				}
				span {
					position: absolute;
					top: 0.3em;
					opacity: 0;
					transition: 750ms;
					&:after {
						content: '';
						border-bottom: 2px solid transparent;
						display: block;
						width: 0%;
						transition: 200ms;
						margin: 0 auto;
						position: relative;
						left: 1px;
					}
				}
				svg {
					position: relative;
					top: 0;
					display: block;
					font-size: 32px;
					transform: scale(1);
					transition: 500ms;
				}
			}
		}
	}
	&:hover {
		ul {
			animation-name: menu-hover;
			animation-duration: 666ms;
			li {
				a {
					span {
						opacity: 1;
					}
					svg {
						top: 0.3em;
						transform: scale(0.7);
					}
				}
			}
		}
	}

	@keyframes menu-hover {
		0% {
			width: 7em;
		}
		50% {
			width: 20em;
		}
		100% {
			width: 7em;
		}
	}

	@keyframes menu-unhover {
		0% {
			width: 7em;
		}
		50% {
			width: 20em;
		}
		100% {
			width: 7em;
		}
	}
}
