@use 'sass:map';

@mixin blank-button {
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

@mixin mediaQuery($size) {
	@media only screen and (map.get($MediaSizes, $size)) {
		@content;
	}
}

@mixin media-query {
	@content;
}

$MediaSizes: (
	'mobile-down': 'max-width: 678px',
	'large-up': 'min-width: 1000px',
);
