@import '../../styles/global.scss';

.Card {
	margin: 2em 0;
	padding: 1em 0;

	.detail-image {
		position: relative;
		border-radius: 0.5rem;
		@include standard-box-shadow;
		height: 150px;
		min-width: 150px;
		width: 150px;
		float: right;
		margin: 1rem;

		img {
			border-radius: 0.5rem;
			height: 100%;
			min-width: inherit;
			object-fit: cover;
			object-position: left top;
			width: 100%;
		}
	}

	.content {
		a:not([href]) {
			font-weight: normal;
		}

		.title {
			font-size: 1.25em;
		}

		blockquote {
			position: relative;
			&:before {
				content: '«';
				position: absolute;
				left: -0.6em;
				top: -0.35em;
			}
			&:after {
				content: '»';
				position: absolute;
				bottom: 0.35em;
			}
		}

		.links {
			padding: 1em 0;
			text-align: right;
		}
	}

	@mediaquery ('mobile-down') {
		.detail-image {
			float: none;
			margin: 1em auto;
		}

		.content .title {
			text-align: center;
		}
	}
}
