.Projects {
	position: relative;

	.page-title {
		text-align: left;
		position: sticky;
		top: 0em;
		background-color: var(--background-color);
		font-size: 1.5em;
		line-height: 1em;
		margin: 0;
		padding: 1em 0;
	}

	h3 {
		font-size: 1.25em;
	}

	.year {
		position: sticky;
		z-index: 2;
		top: 4em;
		box-shadow: 0 0 0.35em 0.9em var(--background-color);
		background-color: var(--background-color);
		margin: 0;
		line-height: 1em;
		font-weight: bold;
		display: inline-block;
	}

	.company {
		position: sticky;
		z-index: 1;
		top: 4em;
		box-shadow: 0 0 0.35em 0.9em var(--background-color);
		background-color: var(--background-color);
		margin: 1em 0;
		padding: 0 1em 0 4em;
		line-height: 1em;
		font-weight: bold;
		display: inline-block;
		border-radius: 0.5em;
		text-decoration: underline;
	}

	hr {
		border-color: var(--text-highlight-color);
		margin: 4em auto;
		width: 66%;
	}

	Article.Card {
		margin: 1em 0 1em 1em;
		align-items: flex-start;
		display: block;

		.detail-image {
			float: right;
			margin-left: 1em;
			margin-bottom: 1em;
			margin-right: -1em;
			position: relative;
			img {
				object-fit: cover;
				object-position: top left;
			}
		}

		.content {
			padding: 0;
		}

		.technologies {
			display: inline-flex;
			flex-wrap: wrap;
			gap: 0.7em;
			align-items: center;
			margin: 1em 0;
			.technology {
				display: flex;
				align-items: center;
				border-radius: 1em;
				padding: 0.3em 0.8em 0.4em 0.8em;
				background-color: var(--text-highlight-color);
				color: var(--background-highlight-color);
				line-height: 1;
			}
		}
	}
}
