.Work {
	position: relative;

	h3 {
		text-align: center;
		position: sticky;
		top: 0em;
		background-color: var(--background-color);
		font-size: 24px;
		line-height: 1;
		margin: 0;
		padding: 1em 0;
	}

	.year {
		position: sticky;
		top: 3em;
		background-color: var(--background-color);
		margin: 1em 0;
		font-weight: bold;
	}

	.Card {
		display: flex;
		flex-direction: row-reverse;
		padding: 1em;
		border: 1px solid var(--text-color);
		border-radius: 0.5em;
		box-shadow: 5px 5px 8px 1px var(--text-color);

		img {
			padding: 1em;
			border: 1px solid var(--text-color);
			border-radius: 0.5em;
			box-shadow: 5px 5px 8px 1px var(--text-color);
		}
		.content {
			flex-grow: 1;
		}
	}
}
