.Work {
	position: relative;

	.page-title {
		text-align: center;
		position: sticky;
		top: 0em;
		background-color: var(--background-color);
		font-size: 1.5em;
		line-height: 1em;
		margin: 0;
		padding: 1em 0;
	}

	h3 {
		font-size: 1.25em;
	}

	.year {
		position: sticky;
		z-index: 2;
		top: 4em;
		box-shadow: 0 0 0.35em 0.9em var(--background-color);
		background-color: var(--background-color);
		margin: 0;
		line-height: 1em;
		font-weight: bold;
		display: inline-block;
	}

	hr {
		border-color: var(--text-highlight-color);
		margin: 4em auto;
		width: 66%;
	}

	.Card {
		display: flex;
		padding: 1em;
		margin: 2em 0;
		.title {
			display: flex;
			flex-wrap: wrap;
			gap: 0 0.35em;
		}
		blockquote {
			&:before {
				content: '\00ab';
				vertical-align: super;
			}
			&:after {
				content: '\00bb';
				vertical-align: super;
			}
		}
		.detail-image {
			margin: 0 1em 0 0;
		}
	}
}
