.App {
	height: 100vh;
	color: navy;
	a,
	a:active,
	a:visited {
		color: navy;
	}
	&.dark-theme {
		background-color: black;
		color: #c0f0ff;
		a,
		a:active,
		a:visited {
			color: #c0f0ff;
		}
	}
	.app-header {
		position: relative;
		.banner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				text-align: center;
				flex-grow: 1;
			}
			.actions {
				margin: 0 1em;
			}
		}
		.menu {
			display: inline-block;
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: inline-flex;
				flex-direction: column;
				animation-name: menu-unhover;
				animation-duration: 1s;
				li {
					display: flex;
					justify-content: center;
					a {
						text-decoration: none;
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						padding: 1em 2em;
						&:hover {
							span:after {
								content: '';
								border-bottom: 1px solid navy;
							}
						}
						span {
							opacity: 0;
							transition: 750ms;
						}
						svg {
							display: block;
							font-size: 32px;
							transform: scale(1);
							transition: 750ms;
						}
					}
				}
			}
			&:hover {
				ul {
					animation-name: menu-hover;
					animation-duration: 1s;
					li {
						a {
							span {
								opacity: 1;
							}
							svg {
								transform: scale(0.66);
							}
						}
					}
				}
			}
		}
	}
}

@keyframes menu-hover {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes menu-unhover {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

.blank-button {
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
