:root {
	color-scheme: light dark;
}

.App {
	--text-color: #585892;
	--text-highlight-color: #00007e;
	--background-color: #f9f9f9;
	--background-highlight-color: #eefbff;

	&.dark-theme {
		--text-color: #acdbea;
		--text-highlight-color: #eefbff;
		--background-color: #303030;
		--background-highlight-color: #101010;
	}

	background-color: var(--background-color);
	color: var(--text-color);

	height: 100vh;

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		padding: 0;
		color: var(--text-highlight-color);
	}

	a,
	a:active,
	a:visited {
		color: var(--text-color);
	}

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'header' 'body';

	header {
		position: relative;
		z-index: 100;
		grid-area: header;
		.banner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				text-align: center;
				flex-grow: 1;
			}
			.actions {
				margin: 0 1em;
			}
		}
	}
	main {
		grid-area: body;
		padding: 0 7em;
		overflow-x: hidden;
		& > * {
			animation-name: animate-view;
			animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			animation-duration: 600ms;
		}
	}
}

@keyframes animate-view {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.blank-button {
	appearance: none;
	border: none;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
