@import './styles/global';

:root {
	color-scheme: light dark;
}

.App {
	--text-light-color: #585892;
	--text-light-highlight-color: #00007e;
	--background-light-color: #f9f9f9;
	--background-light-highlight-color: #eefbff;

	--text-dark-color: #acdbea;
	--text-dark-highlight-color: #eefbff;
	--background-dark-color: #303030;
	--background-dark-highlight-color: #101010;

	--text-color: var(--text-light-color);
	--text-highlight-color: var(--text-light-highlight-color);
	--background-color: var(--background-light-color);
	--background-highlight-color: var(--background-light-highlight-color);

	&.dark-theme {
		--text-color: var(--text-dark-color);
		--text-highlight-color: var(--text-dark-highlight-color);
		--background-color: var(--background-dark-color);
		--background-highlight-color: var(--background-dark-highlight-color);
	}

	background-color: var(--background-color);
	color: var(--text-color);

	height: 100vh;

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		padding: 0;
		color: var(--text-highlight-color);
	}

	a,
	a:active,
	a:visited {
		color: var(--text-color);
		font-weight: bold;
	}

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 'header' 'body';

	header {
		position: relative;
		z-index: 100;
		grid-area: header;
		.banner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			h1 {
				text-align: center;
				flex-grow: 1;
			}
			.actions {
				margin: 0 0.5em;
			}
		}
	}
	main {
		grid-area: body;
		padding: 0 5em 0 7em;
		overflow-y: auto;
		& > * {
			animation-name: animate-view;
			animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			animation-duration: 600ms;
		}
	}

	.EyebrowInput {
		color: var(--text-color);
		background-color: var(--background-color);
		border-color: var(--text-highlight-color);
	}
}
